.App {
  height: 100vh;
  background: url("https://www.visitoostende.be/sites/all/themes/epsenkaas_theme/images/weather-icons-custom/011.png")
    no-repeat center / cover #000;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Main Container */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 364px;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0px 10px #111;
  user-select: none;
}

.header {
  margin-top: 3px;
}
main .weather-main {
  margin-top: 5px;
  display: flex;
}
.btn-main {
  position: absolute;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
 
  background: url('https://img1.picmix.com/output/stamp/normal/2/9/3/5/545392_1cf8b.gif');
  border: 1px solid rgb(59, 59, 59);
  border-radius: 6px;
  padding: 5px;
  width: 200px;
  font-weight: 700;
}
.btn-main ion-icon {
  margin-left: 10px;
}

main .weather-main h2 {
  font-size: 2em;
}
.temp-main .btn-degree {
  margin: 2px;
  border: 1px solid rgb(65, 63, 63);
  border-radius: 5px;
  padding: 2px 5px;
  background: rgba(228, 227, 227, 0.897);
  /* color: rgb(241, 212, 45); */
  display: flex;
  align-items: center;
}
.btn-degree:hover {
  box-shadow: 0 1px 3px black;
}
.temperature {
  font-size: 2em;
}
.temp-main .hi-lo {
  display: flex;
}

.hi-lo h5 {
  margin: 5px 5px;
}
footer {
  display: flex;
  justify-content: space-around;
}
.weather-prop h4 {
  font-size: 1em;
}

.weather-prop img {
  width: 40px;
}

.form {
  margin: 10px 0 0px 0;
}
.form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
}
.form input[type="text"] {
  background: transparent !important;
  border: 0;
  border-bottom: solid 1px rgba(48, 48, 48, 0.561);
  font-weight: lighter;
  outline: none;
}
input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.294);
}
.form .btn {
  margin-left: 20px;
  border: 0.5px solid rgb(97, 96, 96);
  border-radius: 5px;
  padding: 5px;
  background: transparent;
}

.form .btn:hover {
  box-shadow: 0 1px 2px #000;
  background: rgba(241, 227, 19, 0.349);
}

ion-icon {
  font-size: 18px;
  margin-right: 5px;
}
