@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/weather.jpeg");
}

.main {
  height: 55vh;
  box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
  width: 60%;
  margin: 0 auto;

  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info {
  height: 55vh;
  background: url("img/we-are.png") center center no-repeat;
  background-blend-mode: multiply;
  background-color: #484747;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  height: 55vh;
  padding-top: 100px;
  padding-left: 50px;
  border-top: 2px solid #1e272e;
  border-bottom: 2px solid #1e272e;
  border-right: 2px solid #1e272e;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #d1b40d;
  width: 50%;
  padding-bottom: 4px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.2;
}

input::-moz-placeholder {
  color: #103a65;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 1px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  font-size: 2.5em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
  font-size: 0.8em;
}

.infoWeath {
  width: 50%;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.error {
  color: #cccccc;
  font-weight: bold;
}

button.degrees {
  border: none;
  font-weight: 700;
}
button.degrees:hover {
  background: #484747;
  color: #f5d626;
}
i.fa-thermometer-three-quarters {
  color: #f5d626;
}